/*=========================
HERO V3
=========================*/

.hero{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px 25px;

    background:#111;

}
